.running-gallery-back {
	width: 100%;	
  	background: #454141;
  	margin: auto;
  	overflow: hidden;
  	position: relative;
	float: left;
	padding: 30px 0px;
}

.running-item img{
		border:#00F3FF thin solid;
	margin: 2px;
}

.running-gallery-back::before, .running-gallery-back::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  position: absolute;
  z-index: 2;
	width: 50%px;
	height: auto;
}
.running-gallery-back::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.running-gallery-back::before {
  left: 0;
  top: 0;
}
.running-gallery-back .running-item-track {
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(100px * 8);
}



@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 4));
            transform: translateX(calc(-250px * 4));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 4));
            transform: translateX(calc(-250px * 4));
  }
}
.running-gallery-back .running-item {
  height:auto;
  width:30%;
}